<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%- title %></title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet" />
        <link rel="stylesheet" href="./assets/style/all.css" />
    </head>

    <body>
        <nav class="nav flex-column bg-light">
            <a class="nav-link navbar-brand my-3" href="#">
                <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week5/logo-ANSWER.svg"
                    alt="ANSWER LOGO"
                    class="d-inline-block align-text-top"
                />
            </a>
            <ul class="nav flex-column fw-bold">
                <li class="nav-item">
                    <a class="nav-link d-flex" aria-current="page" href="#">
                        <span class="material-icons me-3 d-block">assessment</span> Dashboard</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex" href="#"
                        ><span class="material-icons me-3 d-block">question_answer</span>Question</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex" href="#"
                        ><span class="material-icons me-3 d-block">assessment</span>Assignment</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex" href="#"
                        ><span class="material-icons me-3 d-block">video_library</span>Course</a
                    >
                </li>
                <li class="nav-item active">
                    <a class="nav-link d-flex" href="#"
                        ><span class="material-icons me-3 d-block">supervisor_account</span>Admin</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex" href="#"
                        ><span class="material-icons me-3 d-block">settings</span>Settings</a
                    >
                </li>
            </ul>
            <div class="profile d-flex align-items-center mt-auto">
                <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week5/andychen.jpeg"
                    alt="user"
                    width="40"
                    height="40"
                    class="rounded-circle me-2"
                />
                <div>
                    <p class="fw-bold mb-1">Andy Chen</p>
                    <span class="text-secondary fs-7">andy0401@mail.com</span>
                </div>
            </div>
        </nav>
        <main>
            <%- contents %>
        </main>

        <script src="./assets/js/vendors.js"></script>
        <script src="./assets/js/all.js"></script>
    </body>
</html>
